#site_selection{
    margin-top: 20px;
}

#user_search{
    padding-top: 5px;
}

#site_selection p{
    padding-top: 6px;
}

.user_settings {
    padding-top: 10px;
    position: relative;
}
.user_settings label {
    margin-top: 7px;
    margin-right: 15px;
    margin-left: 8px;
}
.user_settings p {
    display: inline-block;
    width: 48%;
    margin-bottom: 0;
}
.user_settings p .chosen-container {
    width: 84% !important
}
#add_user_section{
    margin-top: 30px;
}

#add_user_form{
    margin-top: 10px !important;
}

#add_user_form p:not(:last-child){
    padding-bottom: 10px;
}

#add_user_form span{
    display: block;
    padding-left: 38px;
    margin-left: 15em;
    font-size: 10px;
    color: #999;
}

#add_user_form label{
    font-weight: bold !important;
    color: #333;
}

.add-row{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    display: block;
}
.add-row:before {
    content: "\f067";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    margin-right: 5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.assign-pages {
    margin-left: 5px;
    display: inline-block;
}
.assign-pages:before {
    content: "\f067";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    margin-right: 5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.delete-row {
    position: absolute;
    right: 10px;
    top: 20px;
}
.delete-row:before {
  content: "\f014";
  display: inline-block;
  font: normal normal normal 16px/1 FontAwesome;
  text-rendering: auto;
  margin-left: 15px;
  color: #d15b47;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page_form{
    position: relative;
}

.page_formset{
    background-color: #E9E9E9;
    padding-top: 5px;
    padding-bottom: 5px;
}

.waiting-pages{
    display: inline-block;
    position: absolute;
    padding-left: 10px;
    visibility: hidden;
}

.waiting-change{
    display: inline-block;
    visibility: hidden;
}
