  <fieldset class="module aligned form-horizontal" id="site_selection">
    <div class="col-sm-2 control-label text-left">
      <label for="site_selector">Select site:</label>
    </div>
    <div class="col-sm-9 no-padding-left">
      <select id="site_selector">
        {% for site in administered_sites %}
          <option value="{{site.pk}}"
                  {% if site.pk == current_site.pk %}
                    selected="selected"
                  {% endif %}
                  >
            {{site.name}}
          </option>
        {% endfor %}
      </select>
    </div>
  </fieldset>

  <fieldset class="module aligned form-horizontal" id="user_search">
     <div class="col-sm-2 control-label text-left">
      <label for="search_box">Search user:</label>
    </div>
    <div class="col-sm-9 no-padding-left">
      <input id="search_box" name="search_box" type="text"/>
    </div>
  </fieldset>
  <br>
  <div class="inline-group">
    <form id="user_formset" method="post" action="" style="
      {% if user_formset|length == 0 %}
         display: none;
      {% endif %}
    ">
      {% csrf_token %}
      {{ user_formset.management_form }}
      {{ user_formset.non_form_errors }}
      <div id="user_formset_fields">
        <h4 class="header smaller lighter blue block">Users</h4>

        {% for form in user_formset %}
          {% include "admin/cmsroles/user_form.html" %}
        {% endfor %}
      </div>
      <input id="next_on_save" name="next" type="hidden" value="continue"/>
    </form>
  </div>

  <div class="submit-row form-actions text-right no-margin-bottom no-background">
    <input id="save_and_continue" class="default btn btn-info" type="submit" value="Save and continue editing" />
    <input id="save" type="submit" class="btn btn-primary btn-primary"  value="Save" />
  </div>
